:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    background-color: #709b90;
    font-family: Helvetica, Arial, sans-serif;
}

/*不同于6.3*/

.container {
    display: grid;
    grid-template-columns: [left-start] 2fr [left-end right-start] 1fr [right-end];
    /*grid-template-columns: 2fr 1fr;*/
    /*和以前就多了几个括号里的内容，就不用手动画线做定位了，宽度还是左2右1*/

    grid-template-rows: repeat(4, [row] auto);
    /*grid-template-rows: repeat(4, auto);*/
    /*这个也是多了 [row] 有四个区域 因此有 5个row*/
    grid-gap: 1.5em;
    max-width: 1080px;
    margin: 0 auto;
}

header,
nav {
    grid-column: left-start / span 1;
    /*grid-column: 1 / 3;*/
    /*这里就不用 1 和 3 了*/
    grid-row: span 1;
}

.main {
    grid-column: left;
    /*grid-column: 1 / 2;*/
    /*这里不用 1 和 2 而是 left-start 和 left-end 的简写出 left*/
    grid-row: row 3 / span 2;
    /*grid-row: 3 / 5;*/
    /*我说的复杂就是太灵活了 再看上面这个又是新的 意思是 第3个row线 下面扩展两行*/
}

.sidebar-top {
    grid-column: right;
    /*grid-column: 2 / 3;*/
    grid-row: 3 / 4;
}

.sidebar-bottom {
    grid-column: right;
    /*grid-column: 2 / 3;*/
    grid-row: 4 / 5;
}

/*不同于6.3*/

.tile {
    padding: 1.5em;
    background-color: #fff;
}

.tile > :first-child {
    margin-top: 0;
}

.tile * + * {
    margin-top: 1.5em;
}


/*上面是grid布局，下面是具体里面的样式*/

.page-heading {
    margin: 0;
}

.site-nav {
    display: flex;
    margin: 0;
    padding: .5em;
    background-color: #5f4b44;
    list-style-type: none;
    border-radius: .2em;
}

.site-nav > li {
    margin-top: 0;
}

.site-nav > li > a {
    display: block;
    padding: .5em 1em;
    background-color: #cc6b5a;
    color: white;
    text-decoration: none;
}

.site-nav > li + li {
    margin-left: 1.5em;
}

.site-nav > .nav-right {
    margin-left: auto;
}

.login-form h3 {
    margin: 0;
    font-size: .9em;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
}

.login-form input:not([type=checkbox]) :not([type=radio]) {
    display: block;
    margin-top: 0;
    width: 100%;
}

.login-form button {
    margin-top: 1em;
    border: 1px solid #cc6b5a;
    background-color: white;
    padding: .5em 1em;
    cursor: pointer;
}

.centered {
    text-align: center;
}

.cost {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: .7;
}

.cost > span {
    margin-top: 0;
}

.cost-currency {
    font-size: 2rem;
}

.cost-dollars {
    font-size: 4rem;
}

.cost-cents {
    font-size: 1.5rem;
    align-self: flex-start;
}

.cta-button {
    display: block;
    background-color: #cc6b5a;
    color: white;
    padding: .5em 1em;
    text-decoration: none;
}
